@primary_color: #11477a;
@secondary_color: #11477a;
@background_color_body_0: #ffffff;
@background_color_body_50: #e2e2e2;
@background_color_body_73: #d6d6d6;
@background_color_body_100: #bdbdbd;
@background_color_widget: #ffffff;