@primary_color: #e58906;
@secondary_color: #11477a;
@background_color_body_0: #d0d9dd;
@background_color_body_50: #a9b1b4;
@background_color_body_73: #5f7891;
@background_color_body_100: #3b5874;
@background_color_widget: #dedede;