@import "colors.less";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@darkcolor: rgba(66,66,66,1);
#mainContainer{
    color: white;
}
html, body {
    font-family: 'Source Sans Pro', sans-serif;
}
#logo{
    background-image: url("images/nwbExplorer.png");
    width: 200px;
    height:76px;
}

#controlpanel {
    background-color: rgba(66,66,66,0.9)!important;
    .griddle td {
    color: @primary_color;
    }
}

.contextMenuView {
    color: @primary_color;
    li {
        border-color: @primary_color!important;
    }

    li:hover {
        color: @background_color_widget;
    }
}

iframe{
    border:0;
    body{
        background-color: transparent!important;
    }
}

.legendtext, .g-xtitle, .g-ytitle{
    fill: @primary_color!important;
}
.xtick, .ytick, .xlines-above, .ylines-above{
    stroke:@primary_color!important;
    text{
        fill:@primary_color!important;
    }
}

.tabButton {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(66, 66, 66, 1.0)
}
.selectedTab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    border: white solid 1px;
    background-color: rgba(40, 40, 40, 1.0)
}
.greybox {
    background-color: @box_color;
    color: white;
    padding: 1em;

    input, button {
        border: 2px solid white;
        border-radius: 30px;
        color: white;
        text-transform: none;
        font-size: 1.5rem;
        margin: 1rem 0;
            }
            fieldset {
                border: none;
            }
    h1, h2{
        margin-top: 0.3rem;
        margin-bottom: 1.2rem;
    }
    
        margin-bottom: 1.5rem;

    
   
}
.flexlayout__tabset {
    background-color: inherit;
}
.flexlayout__border_inner_bottom{
    position: fixed;
}
.flexlayout__layout{
    margin-top:20px;
    margin-bottom:75px;
}
.flexlayout__tab {
    background-color: @darkcolor;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.flexlayout__tab_button--selected {
        background-color: @darkcolor;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
}

.flexlayout__border_bottom {
    overflow: visible;
}


.flexlayout__border_button--unselected {
    border-radius: 4px;
    border: 1px solid white;
    background-color: @darkcolor;
    color: white;
    margin-left: 10px;
}
.flexlayout__border_button--unselected:hover {
    border: 1px solid white;
}
.flex-filler {
    flex: 2;
}

.flexlayout__tab_button_content{
    color: white;
}

// Thin white tab icons
.flexlayout__border_button_trailing{
    color: white;
}
.flexlayout__border_button_trailing:before{
    content: '\00d7';
}
.flexlayout__border_button_trailing:hover{
    color: white;
}
.flexlayout__tab_button_trailing {
    color: white;
}
.flexlayout__tab_button_trailing:before{
    content: '\00d7';
}
.flexlayout__tab_button_trailing:hover{
    color: white;
}
.flexlayout__tab_toolbar_button-max{
    color: white;
}
.flexlayout__tab_toolbar_button-max:hover{
    color: white;
}
.customIconFlexLayout{
    color:white;
}
.customIconFlexLayout:hover{
    color:white;
}
.flexlayout__tab_toolbar_button-min{
    color:white;
}
.flexlayout__tab_toolbar_button-min:hover{
    color: white;
}
.flexlayout__splitter:hover{
    background-color: inherit;
}
.flexlayout__splitter{
    border-radius: 10px;
}
.flexlayout__splitter_drag{
    border: 1px solid white;
}

#main-header {
    text-align: right;
    width: 100%;
    >h1 {
        margin-right: 30px;
    }
    
}
#mainContainer > div{
    height: 100%;
}

.font-small {
    font-size: 0.8em;
}
.font-medium {
    font-size: 1em;
}
.font-large {
    font-size: 2em;
}

#splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
    height: 100%;
   
    font-size: 1.9rem;

    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }

    p{
        font-size: 1em;
    }

    header {
        p {
            font-size: 1.5em;
        }
    }

    img{
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

.sidebar{
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none;
}
.aligned-form-elements-wrapper{
    display: flex;
    align-items: stretch;
}
.aligned-form-element {
    input, button {
        padding: 1em;
    }
    &.input {
        flex: 3;
        padding-right: 1em;
    }
    &.button {
        flex: 1;
    }
}

.popup-text {
	color: black !important;
}
.fa:hover{
    color: white;
}