@import "colors.less";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@darkcolor: rgba(66,66,66,1);
#mainContainer{
    color: white;
}
html, body {
    font-family: 'Source Sans Pro', sans-serif;
}
:focus {
    outline: none;
}
#logo{
    background-image: url("images/nwbExplorer.png");
    width: 200px;
    height:76px;
}

.contextMenuView {
    color: @primary_color;
    li {
        border-color: @primary_color!important;
    }

    li:hover {
        color: @background_color_widget;
    }
}

iframe{
    border:0;
    body{
        background-color: transparent!important;
    }
}

.tabButton {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(66, 66, 66, 1.0)
}
.selectedTab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    border: white solid 1px;
    background-color: rgba(40, 40, 40, 1.0)
}
.greybox {
    background-color: @box_color;
    color: white;
    padding: 1em;

    input, button {
        border: 2px solid white;
        border-radius: 30px;
        color: white;
        text-transform: none;
        font-size: 1.5rem;
        margin: 1rem 0;
            }
            fieldset {
                border: none;
            }
    h1, h2{
        margin-top: 0.3rem;
        margin-bottom: 1.2rem;
    }
    
        margin-bottom: 1.5rem;

    
   
}
.flexlayout__tabset {
    background-color: #2a2a2a;
    overflow: visible;
    border-radius: 0px 30px 20px 20px
}
.flexlayout__border_inner_bottom{
    position: fixed;
}
.flexlayout__layout{
    margin-top:20px;
    margin-bottom:75px;
}
.flexlayout__tab {
    background-color: @darkcolor;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.flexlayout__tab_button--selected {
        background-color: @darkcolor;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
}

.flexlayout__border_bottom {
    overflow: visible;
}


.flexlayout__border_button--unselected {
    border-radius: 4px;
    border: 1px solid white;
    background-color: @darkcolor;
    color: white;
    margin-left: 10px;
}
.flexlayout__border_button--unselected:hover {
    border: 1px solid white;
}
.flex-filler {
    flex: 2;
}

.flexlayout__tab_button_content{
    color: white;
}

// Thin white tab icons
.flexlayout__border_button_trailing{
    color: white;
}
.flexlayout__border_button_trailing:before{
    content: '\00d7';
}
.flexlayout__border_button_trailing:hover{
    color: white;
}
.flexlayout__tab_button_trailing {
    color: white;
}
.flexlayout__tab_button_trailing:before{
    content: '\00d7';
}
.flexlayout__tab_button_trailing:hover{
    color: white;
}
.flexlayout__tab_toolbar_button-max{
    color: white;
}
.flexlayout__tab_toolbar_button-max:hover{
    color: white;
}
.customIconFlexLayout{
    color:white;
}
.customIconFlexLayout:hover{
    color:white;
}
.flexlayout__tab_toolbar_button-min{
    color:white;
}
.flexlayout__tab_toolbar_button-min:hover{
    color: white;
}
.flexlayout__tab_button_overflow{
    color: white
}
.flexlayout__tab_button_overflow:hover{
    color: white
}
.flexlayout__splitter:hover{
    background-color: inherit;
}
.flexlayout__splitter{
    border-radius: 10px;
}
.flexlayout__splitter_drag{
    border: 1px solid white;
}
.flexlayout__popup_menu_item {
    color: white;
    background-color: @darkcolor;
}

#main-header {
    text-align: right;
    width: 100%;
    >h1 {
        margin-right: 30px;
    }
    
}
#mainContainer > div{
    height: 100%;
}

.font-small {
    font-size: 0.8em;
}
.font-medium {
    font-size: 1em;
}
.font-large {
    font-size: 2em;
}

#splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
    height: 100%;
   
    font-size: 1.9rem;

    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }

    p{
        font-size: 1em;
    }

    header {
        p {
            font-size: 1.5em;
        }
    }

    img{
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

.sidebar{
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none;
}
.aligned-form-elements-wrapper{
    display: flex;
    align-items: stretch;
}
.aligned-form-element {
    input, button {
        padding: 1em;
    }
    &.input {
        flex: 3;
        padding-right: 1em;
    }
    &.button {
        flex: 1;
    }
}

.popup-text {
	color: black !important;
}
.fa:hover{
    color: white;
}


// Plotly
.xtitle {
    fill: white!important
}
.ytitle {
    fill: white!important
}
.xtick > text {
    fill: white!important
}
.ytick > text {
    fill: white!important
}



// Collapsible 
.Collapsible {
    background-color: transparent;
}

.Collapsible__contentInner {
    padding: 0px 30px 8px 15px;
    border-top: 0;
    font-size: 13px;
    color: white;
    text-align: justify;
}

.Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 20px;
}

.Collapsible__contentInner p:last-child {
    margin-bottom: 0;
}

.Collapsible__trigger {
    margin-left: 5px;
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 13px;
    color: @primary_color;
    position: relative;
    padding: 2px;
    background: transparent;
    cursor: pointer;
}
.Collapsible__trigger:hover {
    color: #cccccc!important;
}

.Collapsible__trigger:after {
    font-family: 'FontAwesome';
    content: '\f139';
    position: absolute;
    right: 10px;
    top: 2px;
    display: block;
    transition: transform 300ms;
}

.Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg);
    color: #cccccc!important;
}


// controlPanel
#controlpanel {
    background-color: rgba(66,66,66,0.9)!important;
    .griddle {
        td, th {
            color: @primary_color;
            background-color: rgba(55, 55, 55, 1);
        }
    }
}

#controlpanel .griddle{
    td {
        border-bottom: none;
    };
    th {
        border-bottom: 1px solid;
    };
} 


// modal
.modal-content {
    background-color: rgba(66,66,66,0.9)!important;
}
#infomodal-btn{
    background-color: rgba(66,66,66,0.9)!important;
}
#infomodal-btn:hover{
    background-color: rgba(66,66,66,0.9)!important;
}